# DATOS
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# PYTHON
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# ENTORNO
.env
*.env
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.code-workspace

# AGENTE
CLAUDE.md